<%- include("./header.ejs") %> 
    


<div class="container py-5 mt-2">
    <form  action="/editform/<%= productContainer._id %>" method="POST" enctype="multipart/form-data" >
        <div class="form-group">
            <input value="<%= productContainer.name %>" name="name" placeholder="Enter Product Name" type="text" class="form-control <%= messageErrors.find(e=>e.param=="name")?'is-invalid':'' %> " id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <% if (messageErrors.find(e=>e.param=="name")) { %>
           <div class="alert alert-danger text-cnter">
             invalid Data
           </div>
          <% } %>
        <div class="form-group">
          <input value="<%= productContainer.price %>" name="price" placeholder="ADD Product price" type="number" class="form-control <%= messageErrors.find(e=>e.param=="price")?'is-invalid':'' %> " id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <% if (messageErrors.find(e=>e.param=="price")) { %>
          <div class="alert alert-danger text-cnter">
            invalid Data
          </div>
         <% } %>
        <div class="form-group">
          <input value="<%=productContainer.total%>" name="total" placeholder="ADD Product quantity" type="number" class="form-control <%= messageErrors.find(e=>e.param=="total")?'is-invalid':'' %> "  id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <% if (messageErrors.find(e=>e.param=="total")) { %>
          <div class="alert alert-danger text-cnter">
            invalid Data
          </div>
         <% } %>
        <div class="form-group">
          <input value="<%=productContainer.description %>" name="description" placeholder="ADD Product description" type="text"class="form-control <%= messageErrors.find(e=>e.param=="description")?'is-invalid':'' %> "  id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <% if (messageErrors.find(e=>e.param=="description")) { %>
          <div class="alert alert-danger text-cnter">
            invalid Data
          </div>
         <% } %>
        <div class="form-group">
          <input value="<%= productContainer.imgURL %>" type="file" name="img" multiple class="form-control my-4" >
        </div>
      
     <div class="form-group text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
     </div>
      </form>
 </div>




 
<%- include("./footer") %> 
</body>
</html>